* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(2, 58, 5);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 58, 5);
    height: 70px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a button {
    text-decoration: none;
    color: white;
    background-color: rgb(28, 28, 94);
    border: 1px solid white;
    height: 35px;
    width: 70px;
}

nav ul li a:hover {
    color: rgb(82, 82, 196);
    font-size: 1.06rem;
}

.aa {
    font-size: 1.5rem;
}

.s {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.s1 {
    font-size: 2rem;
    margin: 200px 0;
}

.s2 img {
    height: 350px;
    margin: 86px auto;
}

.seemal {
    color: rgb(14, 155, 21)
}

#element {
    color: rgb(170, 107, 228);
}

.faq {
    text-align: center;
}

.faq h1 {
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}

.questions li {
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: rgb(14, 155, 21);
    color: white;
    text-align: left;
    width: 50%;
}

.faq p {
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}

.input {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
}

.input input {
    width: 600px;
    height: 3rem;
}

.input button {
    height: 3.25rem;
    width: 320px;
    left: 20px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    color: white;
}

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: white;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 2.4;
}